/* Header */
.header {
  padding: 0 0 0 5%;
}
   
h1 {
  text-decoration: underline solid rgb(224, 26, 59) 10%;
  text-underline-offset: 0.3em;
  letter-spacing: 2.5px;
  text-align: center;
}


/* Content */
.row {
  padding: 60px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.8;  
  padding: 5% 5% 15% 5%;     
}

#col1 {
  padding-top: 30px;
  font-size:20px;
}  

#email {
  font-weight: 500; 
  letter-spacing: 3px;
}

#email:hover {
  text-decoration: underline solid rgb(224, 26, 59) 10%;
  cursor: pointer;
}


/* Form */
.form-field-container {
  display: flex;
  flex-direction: column;
}
    
.form-field {
  margin-bottom: 10px; /* Adjust the value as per your desired spacing */
}

.button {
  display: table-cell;
  max-width: 600px;
}

.button .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

form {
  background-color: inherit;
  padding: 40px;
}


/* Icons */
.icons {
  padding: 0 10% 15% 10%; 
}

table {
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
}
  
td {
  padding: 20px 100px 20px 100px;
}
   
fa-icon {
  font-size: 40px;
}
  
fa-icon:hover {
  color: rgb(224, 26, 59);
  cursor: pointer;
}
  
 

@media (max-width: 780px) {
  /* Header */
  h1 {
    text-align: left;
  }
 
  
  /* Icons */
  td {
    padding: 20px 35px 20px 35px;
  }
}