<div class="content">

    <!-- Header -->
    <div class="header">
        <h1>SKILLS</h1>
    </div>


    <!-- Content -->

    <!-- Icons -->
    <div class="container">
        <table>
            <tr>
                <td>            
                    <fa-icon [icon]="faHtml5"></fa-icon> 
                    <p>HTML5</p>
                </td>
                <td>            
                    <fa-icon [icon]="faCss3"></fa-icon>
                    <p>CSS</p>
                </td>
                <td>            
                    <fa-icon [icon]="faJs"></fa-icon>
                    <p>JAVASCRIPT</p>
                </td>
            </tr>

            <tr>
                <td>
                    <fa-icon [icon]="faBootstrap"></fa-icon>
                    <p>BOOTSTRAP4</p>             
                </td>
                <td>            
                    <fa-icon [icon]="faAngular"></fa-icon> 
                    <p>ANGULAR</p>
                    </td>
                <td>            
                    <fa-icon [icon]="faDatabase"></fa-icon>
                    <p>DATABASE<br/> MANAGEMENT</p>
                </td>
            </tr>

            <tr>
                <td>            
                    <fa-icon [icon]="faGithub"></fa-icon>
                    <p>GIT</p>
                </td>
                <td>            
                    <fa-icon [icon]="faTerminal"></fa-icon>
                    <p>TERMINAL</p>
                </td>
                <td>            
                    <fa-icon [icon]="faUniversalAccess"></fa-icon> 
                    <p>ACCESSIBILITY</p>
                </td>
            </tr>

        </table>
    </div>
                
</div>