<!-- 2 GOT MUSIC? -->
<div class="container">
    <div class="row">
        <div [@flyIn]="isVisible ? 'visible' : 'hidden'" class="col-sm-6" style="text-align: right;">
            <br/>
            <h2>GOT MUSIC?</h2>
            <p>Turn it up and turn up.</p>
    
            <p>A music catalog made with React that allows you search your favourite artist's top albums. Albums come from Lastfm API. Designed using UI principles from Scrimba's UI/UX course.</p>

            <h3>MADE WITH</h3>
    
            <!-- Icons -->
            <div class="icons">
                <ul>
                    <li>
                        <fa-icon [icon]="faGithub"></fa-icon> 
                    </li>
                    <li>
                        <fa-icon [icon]="faLinkedin"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="faTwitter"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="faSlack"></fa-icon>
                    </li>
                </ul>
            </div>

            <div class="live">
                <li><a href="#">LIVE SITE</a></li>
                <span> | </span>
                <li><a href="#">GITHUB</a></li>
            </div>
                
        </div>
    

        <div [@flyOut]="isVisible ? 'visible' : 'hidden'" class="col-sm-6">
            <img src="/assets/images/got-music.png"  alt="Meeeee">
        </div>


  
    </div>

</div>


<!--THIS CONTENT DISPLAYS WHEN THE PAGE IS MINIMIZED-->
<div class="project" hidden>
    <app-second-project-fdiv></app-second-project-fdiv>
    <app-second-project-sdiv></app-second-project-sdiv>
</div>
